#front {
  background-color: #e0ebe8;
}

.centerPar {
  width: 55%;
  margin: 0 auto 0 auto;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  margin: 5px auto;
}

.cards {
  width: 60%;
  margin: 0 auto 0 auto;
}
